/* Stored variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --light-gray: #f0f0f0;
    --dark-gray: #333;
    --light-background-color: #F8FAFC;
    --dark-background-color: #021526;
    --light-text-color: #333;
    --dark-text-color: #eee;
    --light-blur-background: rgba(240, 240, 240, 0.7);
    --dark-blur-background: rgba(10, 10, 10, 0.7);
    --light-modal-background: #fff;
    --dark-modal-background: #111;
    --font-family-inter: 'Inter', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-inter), sans-serif;
  background-color: var(--light-background-color);
  color: var(--light-text-color);
  transition: background-color 0.3 ease, color 0.3 ease;
}

main {
  text-align: center;
  width: 100%;
  padding-top: calc(1em + 50px);
  flex-grow: 1;
}

h1, 
h2, 
h3, 
h4 {
  font-family: var(--font-family-poppins), sans-serif;
  text-align: center;
}

p {
  text-align: left;
}

.profile {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
  gap: 5rem;
}

.profile h2 {
  margin-bottom: 1rem;
}

.img-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.emoji {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 101;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: var(--dark-gray);
}

.welcome-text {
    width: 45%;
    flex-grow: 1;
    text-align: left;
    flex: 1;
}
  
  .welcome-text a {
    color: var(--primary-color);
    transition: color 0.3s ease;
    font-weight: 500;
    text-decoration: none;
  }
  
  .welcome-text a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }
  
  .main .welcome-text a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  .portfolio {
    padding: 2rem 0;
  }
  
  .portfolio h2 {
    margin-bottom: 1.5rem;
  }
  
  .projects-container,
  .more-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  
  .project {
    flex-basis: calc(25% - 2rem);
    min-height: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.8rem 0;
  }
  
  .project h4 {
    margin-bottom: 0.8rem 0;
    text-align: center;
  }
  
  .project img,
  .project iframe {
    max-width: 100%;
    height: 196px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    padding: 0;
    box-sizing: border-box;
}

.project iframe {
    width: 100%;
    height: auto;
}

.project a.link {
    position: absolute;
    display: inline-block;
    margin-top: auto;
    padding: 0.4rem 0.8rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.project a.link:hover {
background-color: var(--secondary-color);
text-decoration: underline;
color: white;
}

.project a.link:visited {
color: white;
}

details {
    margin-top: 1.5rem;
    width: 100%; 
  }
  
  summary {
    cursor: pointer;
    padding: 1rem;
    color: var(--primary-color);
    transition: color 0.3s ease;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
  }
  
  summary::marker {
    display: none;
  }
  
  summary:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: var(--light-gray);
    margin: 5% auto;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  
  .modal-img,
  .modal-content iframe {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    margin: 10px auto;
    object-fit: contain;
  }
  
  .modal:target {
    display: block;
  }
  
/* –––––––––––––––––––––––––––––––––––––––––––––– */

/* Responsive Adjustments */
/* Styles for small screens */
@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }

  .img-container {
    width: 60%;
    height: 60%;
    max-width: 250px;
  }

  .welcome-text {
    margin-bottom: 1rem;
    width: 90%;
  }

  .close {
    top: 10px;
    right: 15px;
    font-size: 20px;
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––– */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  /* Common dark mode styles  */
  body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  .modal-content {
    background-color: var(--dark-modal-background);
    color: var(--dark-text-color);
  }

  .close {
    color: var(--dark-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  p,
  .profile h2 {
    color: var(--dark-text-color);
  }

  .welcome-text a,
  .project a.link,
  summary {
    color: var(--dark-text-color);
  }
  
  .project, 
  details .more-projects .project {
    border-color: #555;
  }

  .project a.link {
    background-color: var(--primary-color);
    color: white;
  }

  details {
    color: var(--dark-text-color);
  }
}